<header>
    <div class="header__bar">
        <a href="/" class="logo">
            <img src="/assets/svg/logo.svg"></img>
        </a>
        <div class="header__info">
            <div class="info__message">
                <p>Get your <strong>FREE CONSULTATION</strong> on Medicaid.</p>
                <p>Elder Law or Home Care Consultation. Call us.</p>
            </div>
            <div class="info__phone">
                <a href="tel:6467459122">646-745-9122</a>
            </div>
        </div>
    </div>
    <div class="nav-controls">
        <div class="info__phone">
            <a href="tel:6467459122">646-745-9122</a>
        </div>
        <div class="controls">
            <span class="control control--open">MENU</span>
            <span class="control control--close is-hidden">CLOSE</span>
        </div>
    </div>
    <nav class="header__nav">
        <a href="/">Home</a>
        <a href="/our-services/">Our Services</a>
        <a href="/about/">About Us</a>
        <a href="">FAQ</a>
        <a class="active" href="/blog/">Blog</a>
        <a href="/press/">Press</a>
        <!-- <a href="/events/">Events</a> -->
        <a href="/contact/">Contact Us</a>
    </nav>
</header>

