<div class="aside__wrapper" data-sticky>
    <div class="aside-info">
        <h3 class="aside-info__title">Don’t be confused!</h3>
        <p class="aside-info__desc">Book your FREE Consultation right now.</p>
    </div>
    <div class="contact__mode contact__mode--phone">
        <p class="contact__label">CALL US AT</p>
        <a class="contact__info" href="tel:{{site.data.globals.contactNumberWithoutDashes}}">{{site.data.globals.contactNumber}}</a>
    </div>
    <div class="contact__mode contact__mode--input">
        <p class="contact__label">OR HAVE US CALL YOU BACK</p>

         
        <input id="phone-aside-callback" class="contact__input contact__input--white" type="tel" placeholder="Enter name & phone number">
      

        <button class="cta cta--medium cta--orange do-submitPhoneNumber" data-inputId="phone-aside-callback">SUBMIT NAME & PHONE NUMBER  </button>
    </div>
    <div class="contact-warning">
        <p class="contact-warning__msg">Its not a call to sell our services. We will genuinely analyse your case and direct you into right direction. Then you may or may not choose to hire us. Just let us help you. </p>
    </div>
</div>
