<header>
    <div class="header__bar">
        <a href="/" class="logo">
            <img src="/assets/svg/logo.svg"></img>
        </a>
        <div class="header__info">
            <div class="info__message">
                <p>Get your <strong>FREE CONSULTATION</strong> on Medicaid.</p>
                <p>Elder Law or Home Care Consultation. Call us.</p>
            </div>
            <div class="info__phone">
                <a href="tel:{{site.data.globals.contactNumberWithoutDashes}}">{{site.data.globals.contactNumber}}</a>
            </div>
        </div>
    </div>
    <div class="nav-controls">
        <div class="info__phone">
            <a href="tel:{{site.data.globals.contactNumberWithoutDashes}}">{{site.data.globals.contactNumber}}</a>
        </div>
        <div class="controls">
            <span class="control control--open">MENU</span>
            <span class="control control--close is-hidden">CLOSE</span>
        </div>
    </div>
    <nav class="header__nav">
        <a {% if page.activePage == 'home' %} class="active"{% endif %} href="/">Home</a>
        <a {% if page.activePage == 'service' %} class="active"{% endif %} href="{{site.data.urls.service}}">Our Services</a>
        <a {% if page.activePage == 'about' %} class="active"{% endif %} href="{{site.data.urls.about}}">About Us</a>
        <a {% if page.activePage == 'faqs' %} class="active"{% endif %} href="{{site.data.urls.faqs}}">FAQ</a>
        <a {% if page.activePage == 'blog' %} class="active"{% endif %} href="{{site.data.urls.blog}}">Blog</a>
        <a {% if page.activePage == 'press' %} class="active"{% endif %} href="{{site.data.urls.press}}">Press</a>
        <!-- <a {% if page.activePage == 'events' %} class="active"{% endif %} href="{{site.data.urls.events}}">Events</a> -->
        <a {% if page.activePage == 'contact' %} class="active"{% endif %} href="{{site.data.urls.contact}}">Contact Us</a>
        <a {% if page.activePage == 'referral' %} class="active"{% endif %} href="{{site.data.urls.referral}}">Health Professional</a>
    </nav>
</header>
