<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">

{% include head.html %}

<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N5VF7FZ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include header.html %}

    <div class="twocolumn-wrapper">
        <main class="main" aria-label="Content">
            {{ content }}
        </main>
        <aside class="aside">
            {% include aside.html %}
        </aside>
    </div>

    {% include footer.html %}

</body>

</html>
